<!DOCTYPE html>
<html>
<head>
    <title>Lottery Boom</title>
    <meta charset="UTF-8" />
</head>
<body>
<div id="app"></div>

<script type="text/javascript" src="/asset/js/bower_components/requirejs/require.js"></script>
<script type="text/javascript" src="/asset/dist/js/main.js"></script>
</body>
</html>