<!DOCTYPE html>
<html>
<head>
    <title>Lottery Boom</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/asset/bower_components/requirejs/require.js"></script>
<script type="text/javascript" src="/asset/js/require_config.js"></script>
</body>
</html>